<div class="card">
  <div class=" card__img"><img src={{img}} alt="Earrings"></div>
  <div class="card__row">
    <div class="card__name">{{name}}</div>
    <div class="card__material">{{material}}</div>
  </div>
  <div class="card__row">
    <div class="card__subtitle">{{type}}</div>
  </div>
  <div class="card__row">
    <div class="card__subtitle">Stone</div>
    <div class="card__answer">{{stone}}</div>
  </div>
  <div class="card__row">
    <div class="card__subtitle">Popular</div>
    <div class="card__answer">{{popular}}</div>
  </div>
  <div class="card__row">
    <div class="card__subtitle">Produced</div>
    <div class="card__answer">{{year}}</div>
  </div>
  <div class="card__row">
    <div class="card__subtitle">Quantity</div>
    <div class="card__answer">{{quantity}}</div>
  </div>
  <div (click)="addItemToCart()">Add to Card</div>
</div>
