.card {
  margin: 0px 0px 30px 0px;

  &__img {
    img{
      width: 200px;
      height: 250px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  .button{
    cursor: pointer;
    color: #736446;
    text-decoration: underline;
    margin-top: 5px;
  }

  &.active{
    outline: 1px solid #736446;
  }
}
