.filter {
  margin: 0px 20px 0px 0px;

  &__column {
  }
}
.meaning {

  &__title {
  }

  &__area {
    margin: 0px 0px 20px 0px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
  }

  &__item {
  }
}
.title {
}
.range {

  &__area {
  }

  &__subtitle {
  }

  &__num-minus {
  }

  &__num-plus {
  }
}
.settings {

  &__btn {
  }
}
