<aside class="filter">
  <div class="filter__column meaning">
    <h3 class="meaning__title title"></h3>
    <div class="meaning__area">
      <div class="meaning__subtitle">Material</div>
      <div class="meaning__item">Gold</div>
      <div class="meaning__item">Silver</div>
    </div>
    <div class="meaning__area">
      <div class="meaning__subtitle">Type</div>
      <div class="meaning__item">Earrings</div>
      <div class="meaning__item">Necklace</div>
    </div>
    <div class="meaning__area">
      <div class="meaning__subtitle">Pearl</div>
      <div class="meaning__item">Yes</div>
      <div class="meaning__item">No</div>
    </div>
    <div class="meaning__area">
      <div class="meaning__subtitle">Popular</div>
      <div class="meaning__item">Yes</div>
      <div class="meaning__item">No</div>
    </div>
  </div>

  <div class="filter__column range">
    <h3 class="meaning__title title"></h3>
    <div class="range__area">
      <div class="range__subtitle">Quantity in stock</div>
      <div class="range__num-minus">1</div>
      <div id="slider"></div>
      <div class="range__num-plus">4</div>
    </div>
    <div class="range__area">
      <div class="range__subtitle">Year of manufacture</div>
      <div class="range__num-minus">1923</div>
      <div id="slider"></div>
      <div class="range__num-plus">1989</div>
    </div>
  </div>

  <div class="filter__column settings">
    <div class="settings__btn">Reset settings</div>
    <div class="settings__btn">Reset filters</div>
  </div>
</aside>
